:root {
    --dark-blue: #363f5f;
    --green: #49AA26;
    --light-green: #3dd705;
    --red: #e92929;

}
*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}
html {
    font-size: 93.75%; /* 15px */
}
input:invalid+span:after {
    content: '✖';
    padding-left: 5px;
}

input:valid+span:after {
    content: '✓';
    padding-left: 5px;
}

body {
    background: #f0f2f5;
    color:#fff;
    background: #111827;
    font-family:'Poppins', sans-serif;
    
}
/* Header ===================== */
header{
    background: #2D4A22;
    background: #6D28D9;
    background: #A7F3D0;
    padding: 2rem 0 10rem;
    text-align: center;
    width: 100vw;

}
.container {
    width: min(90vw, 800px);
    margin: auto;
   
}
/* Titles ===================== */
h2 {
    margin-top: 3.2rem;
    margin-bottom: 0.8rem;
    color: var(--dark-blue);

    font-weight: normal;
}
#logo h1{
    color: #fff;
    transition-duration: 0.4s;
    transition-property: all;
    text-shadow:  1px 0px 7px #89ffeb, 1px 2px 2px #979797, 1px 3px 3px #d1a7f3;

}
#logo h1:hover{
    text-shadow: 1px 0 7px #33ff00, 1px 0 8px #111827, 1px 2px 2px #111827, 1px 0px 3px #fff;
    color: #fff;
    text-shadow: 1px 0 7px #f5f1fa, 1px 0 8px #3dd705, 1px 2px 2px #3dd705, 1px 0px 3px #3dd705;
    color: #111827;
    text-shadow:  0px 0px 7px #89ffeb, 0px -2px 2px #a0ff06, 1px -3px 3px #d1a7f3;
    color: #fff;
     
}
#logo span{
    color: greenyellow;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}
/* Balance ===================== */
#balance {
    margin-top: -8rem;
    
}

#balance h2 {
    color:white;
    margin-top:0;
}

/* Cards ===================== */
.card {
   
    background: white;
    padding: 1.5rem 2rem;
    border-radius: 0.25rem;

    margin-bottom: 2rem;
    

    color: var(--dark-blue);
    transition-duration: 0.4s;
      transition-property: all;
      transition-timing-function: line;
      transform-style: preserve-3d;
      transform: translate3d(0,6px,-1px);
      
}
.card:hover{
    box-shadow: 1px -1px 7px #fff, 2px -2px 8px #979797, 4px -4px 20px #5a355a,
    #8645f0 -4px 4px, #f0f2f5 -5px 5px, #b759ee -6px 6px;
    /* box-shadow: 1px -1px 7px #fff, 2px -2px 8px #979797, 4px -4px 20px #5a355a,
    #33ff00 -4px 4px, #f0f2f5 -5px 5px, #33ff00 -6px 6px; */
    box-shadow: 1px -1px 7px #fff, 2px -2px 8px #d6d6d6, 4px -4px 20px #89ffeb,
    #e2ffd8 -4px 4px, #f0f2f5 -5px 5px, #89ffeb -6px 6px;
    /* box-shadow: 0px -4px #e2ffd8, 0px 5px #89ffeb, 0px 6px #000 ; */
   
    transform: translate3d(0px, 6px, -1px);
    
}
.card h3{
    font-weight: normal;
    font-size: 1rem;
    display : flex;
    align-items: center;
    justify-content: space-between;
}
.card p{
    font-size: 2rem;
    line-height: 3rem;
    margin-top: 1rem;
}
.card.total{
    background: #ECFDF5;
   
}
.card.total div{
   
    font-size: 24px;
    color: #33ff00;
    
}

/* Table ===================== */
#transaction {
    display: block;
    width: 100%;
    overflow-x: auto;
}
#data-table {
    /* display: block; */
    width: 90%;
    margin: auto;
    border-spacing: 0 0.5rem;
    color: #969cb3;
    overflow-x: auto;
    
}


table thead tr th:first-child, 
table tbody tr td:first-child
{
    border-radius: 0.25rem 0 0 0.25rem;
    
    
}
    


table thead tr th:last-child, 
table tbody tr td:last-child{
    border-radius: 0 0.25rem 0.25rem 0;
   
}
table thead tr th:last-child, 
table tbody tr td:last-child{
    border-radius: 0 0.25rem 0.25rem 0;
    padding: 0;
    
}
 
table tbody tr td img:last-child{
    position: relative;  
    
    left: 1.5rem;
    padding: 0;
    max-width: 4rem;
}



table thead th {
    background: #363f5f;
    background: #022421;
   
    text-shadow: 1px 0 7px #191b18, 1px 0 8px #111827, 1px 2px 2px #111827, 1px 0px 3px #fff;

   
    padding: 1rem 2rem;
   

    text-align: left;
}


table tbody tr {
    opacity: 0.7;
   
    
}

table tbody tr:hover {
    opacity: 1;
}
th:hover{
    box-shadow:  0px 1px #202433, 0px 2px #202433,0px 3px #202433;
    transform: translate3d(0px, -6px ,-1px);
    text-shadow:  1px 0px 7px #fff, 1px 0px 2px #fff, 1px 0px 3px #d1a7f3;
    color: #fff;
    transition-duration: 0.4s;
    transition-property: all;
    transition-timing-function: line;
    transform-style: preserve-3d;
}
td:hover{
    background: #363f5f;
    background: #022421;
     box-shadow:  0px 1px #202433, 0px 2px #202433,0px 3px #202433;
     transform: translate3d(0px, -6px ,-1px);
     text-shadow:  1px 0px 7px #fff, 1px 0px 2px #fff, 1px 0px 3px #d1a7f3;
     color: #fff;
     transition-duration: 0.4s;
     transition-property: all;
     transition-timing-function: line;
     transform-style: preserve-3d;
}


table tbody td {
    background:#363f5f;
    background:#022421;
   
    padding: 1rem 2rem;
}
.separar{
    display:block;
    margin-bottom:8px;
    }
td.description {
    color: var(--dark-blue);
    color: #969cb3;
}
td.description:hover{
    text-shadow:  1px 0px 7px #fff, 1px 0px 2px #fff, 1px 0px 3px #d1a7f3;
    color: #fff;
    transition-duration: 0.4s;
    transition-property: all;
}

td.income {
    color: #12a454;
}
td.income:hover{
    text-shadow:  0px 0px 2px #33ff00, 0px 0px 3px #33ff00, 0px 0px 4px #33ff00;
    color: #fff;
}

td.expense {
    color: #e92929;
}
td.expense:hover{
    text-shadow:  0px 0px 4px #ff0000, 0px 0px 6px #ff0000, 0px 0px 8px #ff0505;
    color: #fff;
}

/* Links & Buttons ===================== */
a {
    margin-left: 5rem;
    color: var(--green);
    text-decoration: none;
}

a:hover {
    color: var(--light-green);
}
button {
    width: 100%;
    height: 50px;

    border: none;

    color: white;
    background: var(--green);

    padding: 0;

    border-radius: 0.25rem;

    cursor: pointer;
    box-shadow: 
    0px 4px #0e8a46, #0e8a46 0px 1px, #0e8a46 -2px 2px;
    transform: translateY(.375em);
   
   
    
}

button:hover {
    background: var(--light-green);
    transform: translate3d(0,6px,-1px);
   
    box-shadow: 
    0px 0px #12a454, #12a454 0px 0px, #12a454 0px 0px;
}

.button.new {
    display: block;
    width: 90vw;
    margin-bottom: .8rem;
    
}

.button.cancel {
    color: var(--red);
    border: 2px var(--red) solid;
    
    border-radius: 0.25rem;
    box-shadow: 
    0px 4px #e92929, #e92929 0px 1px, #e92929 -2px 2px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0.6;
    transform: translateY(.375em);
}

.button.cancel:hover {
    opacity: 1;
    box-shadow: 
    0px 0px #e92929, #e92929 0px 0px, #e92929 0px 0px;
    transform: translate3d(0,6px,-1px);
}

/* Modal ===================== */
.modal-overlay{
  width: 100%;
  height: 100%;

  /* background: rgba(255,255,255,0.1);
  backdrop-filter: blur(2px);
  border-radius: 1px solid rgba(255,255,255,0.2);
  box-shadow:  5px 5px 30px rgba(0,0,0,0.1); */
  background: rgb(0, 0, 0,0.2);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 10;
}
.modal-overlay.active{
    opacity: 1;
    visibility: visible;
}
.modal{
    position: relative;
    background: #f0f2f5;
       /* background: rgba(255,255,255,0.1);
  backdrop-filter: blur(20px); */
  border-radius: 1px solid rgba(255,255,255,0.2);
  box-shadow:  5px 5px 30px rgba(0,0,0,0.1); 
    padding: 2.4rem;  
    z-index: 2;
}
/* Form ===================== */
#form {
    max-width: 500px;
    max-width: 0,2vw;
}

#form h2 {
    margin-top: 0;
    color: #363f5f;
}

input {
    border: none;
    border-radius: 0.2rem;

    padding: 0.8rem;

    width: 100%;
    background: rgba(255,255,255,0.1);
    
    border-radius: 1px solid rgba(255,255,255,0.2);
    box-shadow:  5px 5px 30px rgba(0,0,0,0.1);
}

.input-group {
    margin-top: 0.8rem;

}

.input-group .help{
    display: inline-block;
    opacity: 0.4;
    color: #202433;
    margin-top: .8rem;
    margin-left: .5rem;
}

.input-group.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-group.actions .button,
.input-group.actions button {
    width: 48%;
    margin-left: 20px;
    
   
}
.selecionado {
 
    animation: a linear 1s;
   
}
.selecionado td{
    background: #111827;
}
.selecionado  td:nth-child(1) {
    animation-delay: 15ms;
}
.selecionado td:nth-child(2){
   
    animation-delay: 20ms;
}
.selecionado td:nth-child(3){
  
    animation-delay: 35ms;
}
@keyframes a{
    0%{
        opacity: 1;
        box-shadow: 
    0px 4px #363f5f, #363f5f 0px 1px, #363f5f -2px 2px;
    transform: translateY(.375em);

    }
    50%{
        transform: translateY(5em);
        opacity: 0.5;
    }
    100%{
       opacity: 0;
       box-shadow: 
       0px 0px #363f5f, #363f5f 0px 00px, #363f5f -2px 2px;
       transform: translateY(0em);
    }
}

/* Footer ===================== */
footer {
    text-align: center;
    padding: 4rem 0 2rem;
    color: var(--dark-blue);
    color: #fff;
    opacity: 0.6;
}

/* Responsive ===================== */
@media (min-width: 1200px) {
    html {
        font-size: 87.5%;
    }

    #balance {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(3, 23rem);
       
        gap: 2rem;
        column-gap: 20px;
    }
    .card.total div{
   
        font-size: 24px;
        color: #33ff00;
        
    }
    /* table tbody tr td img:last-child{
        position: relative;  
        
        left: 1.5rem;
        padding: 0;
        max-width: 4rem;
    } */
    
    
}
@media (max-width: 1199px) {
    html {
        font-size: 87.5%;
    }

    #balance {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(3, 20rem);
       
        gap: 2rem;
        
       
    }
    .card.total div{
   
        font-size: 24px;
        color: #fff;
        
    }
    table tbody tr td img:last-child{
        position: relative;  
        
        left: 1rem;
        padding: 0;
        max-width: 4rem;
    }
    
}
@media (max-width: 500px){
    #data-table {
        display: block; 
    } 
    table tbody tr td img:last-child{
        position: relative;  
        display: block;
        left : .1rem;
        right: .1rem;
        padding: 10px;
        
    }
}
@media (max-width: 800px) {
    html {
        font-size: 87.5%;
    }

    #balance {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(1, 1fr);
       
        gap: 2rem;
    
        column-gap: 20px;
    }
    .sr-only{
        
        margin-top: 3.2rem;
        margin-bottom: 0.8rem;
        color: var(--dark-blue);
    
        font-weight: normal;
    }
    .card{
        width: 90%;
        margin:  auto;

    }
    .card.total{
        background: #73ff49;
        color: #fff;
        

    }
    #transaction {
        display: block;
        width: 100%;
        overflow-x: auto;
    }
    table tbody tr td img:last-child{
        position: relative;  
        
        display: block;
        padding: 10px;
        
    }
   
   
    /* Links & Buttons ===================== */
a {
    position: relative;
    bottom:-2rem ;
    margin-left: 2rem;
    color: var(--green);
    text-decoration: none;
}
.button.cancel{
    position: relative;
    bottom: 0rem ;
    margin-left: 0rem;
}
    .card:hover{
        
        box-shadow: 
        0px 4px #363f5f, #363f5f 0px 1px, #363f5f -2px 2px;
        text-shadow:  1px 0px 1px #5c5959, 1px 2px 2px #979797, 1px 3px 3px #d1a7f3;
        
        transform: translate3d(0px, -1px, -10px);  
    }
    .card.total:hover{
        box-shadow: 
        0px 4px #363f5f, #363f5f 0px 1px, #363f5f -2px 2px;
        
        transform: translate3d(0px, -1px, -10px);  
        text-shadow:  1px 0px 7px #89ffeb, 1px 2px 2px #979797, 1px 3px 3px #d1a7f3;
    }
     .card.total div{
   
        font-size: 24px;
        color: #fff;
        
    }
    
    
    #data-table{
        margin-top: 2rem;
        transition-duration: 0.4s;
        transition-property: all;
        transition-timing-function: line;
        transform-style: preserve-3d;
       
        
    }
    table tbody  {
        margin: 2rem;
        
    }
    
    td:hover{
        background: #363f5f;
         box-shadow:  0px 1px #202433, 0px 2px #202433,0px 3px #202433;
         transform: translate3d(0px, -6px ,-1px);
         text-shadow:  1px 0px 7px #89ffeb, 1px 2px 2px #979797, 1px 3px 3px #d1a7f3;
         color: #fff;
         transition-duration: 0.4s;
         transition-property: all;
         transition-timing-function: line;
         transform-style: preserve-3d;
    }
    th:hover{
        box-shadow:  0px 1px #202433, 0px 2px #202433,0px 3px #202433;
        transform: translate3d(0px, -6px ,-1px);
        text-shadow:  1px 0px 7px #89ffeb, 1px 2px 2px #979797, 1px 3px 3px #d1a7f3;
        color: #fff;
        transition-duration: 0.4s;
        transition-property: all;
        transition-timing-function: line;
        transform-style: preserve-3d;
    }
    
}

